@import url(../../node_modules/bootstrap/dist/css/bootstrap.min.css);
@import url(../../node_modules/font-awesome/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Cabin|Gloria+Hallelujah|Inconsolata|Nunito|Nunito+Sans|Pacifico|Quicksand|Raleway|Rubik|Source+Sans+Pro|VT323);

html,
body {
    margin: 0;
    padding: 0;
}

.vue-form-generator .hint {
    color: darkslategray;
    font-family: 'Nunito Sans', sans-serif;
}

.vue-form-generator .errors {
    color: red;
    font-family: 'Inconsolata', monospace;
}